*{
    padding: 0;
    margin: 0;
}

/* header style start */

header{
    background: url(../images/banner/donation1.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
    min-width: 100%;
    /* padding: 80px 40px; */
}

.header-main{
    padding: 500px 0;
}

.header-title{
    font-weight: 800;
    font-size: 45px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 65px;
}

.header-description{
    text-align: right;
    margin: 20px 65px;
}

.header-btn{
    margin: 0 65px;
}

/* header style end */


.con-one{
    display: flex;
    margin: 50px;

}