*{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* header style start ------------------------------------------------------------------------------------- */
header{
    background: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;
}

.header-title{
    font-weight: 800;
    font-size: 45px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 150px 250px 0 0;
}

.header-description{
    text-align: right;
    padding: 25px 250px 25px 0;
    font-weight: 600;
    font-size: 18px;
    color: #616161;
}

.header-btn{
    font-weight: 800;
    font-size: 15px;
    margin: 0 250px 150px 0;
    padding: 15px 30px;
    border-radius: 5px;
    background: #ff5b29;
    color: #ffffff;
    border: none;
}
/* header style end ------------------------------------------------------------------------------------- */



/* section one style start ------------------------------------------------------------------------------------- */
.con-one{
    align-items: center;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin: 80px 20px;
    padding: 0 250px;
}

.con-one-img{
    align-content: center;
}

.con-one-title{
    font-weight: 800;
    font-size: 40px;
}

.con-one-description{
    font-weight: 600;
    font-size: 18px;
    color: #616161;
}

.tickmark{
    width: 20px;
    height: 20px;
}
/* section one style end ------------------------------------------------------------------------------------- */



/* section tow style start ------------------------------------------------------------------------------------- */
.con-tow{
    text-align: center;
    margin: 35px;
}

.con-tow-title{
    font-weight: 700;
    font-size: 45px;
    padding: 20px;
}

.con-tow-main{
    display: flex;
    gap: 70px;
    padding: 45px 22%;
}

.con-tow-main-h2{
    font-weight: 800;
    font-size: 30px;
    padding: 20px 0;
}

.con-tow-main-h3{
    font-weight: 700;
    font-size: 20px;
    color: #888888;
}
/* section tow style end ------------------------------------------------------------------------------------- */



/* section bonass style start ------------------------------------------------------------------------------------- */
.con-bonass{
    text-align: center;
    margin: 35px;
}

.con-bonass-title{
    font-weight: 700;
    font-size: 45px;
    padding: 20px;
}

.con-bonass-main{
    display: flex;
    gap: 100px;
    padding: 45px 25%;
}

.con-bonass-main-img{
    height: 150px;
    width: 150px;
    border-radius: 50px;
}

.con-bonass-main-h3{
    font-weight: 700;
    font-size: 20px;
    color: #888888;
}

.con-bonass-about{
    padding: 0 400px;
    margin-bottom: 150px;
}
/* section bonass style end ------------------------------------------------------------------------------------- */



/* section three style start ------------------------------------------------------------------------------------- */
.con-three{
    background: url(../images/gradient2.png), url(../images/watch.png);
    margin: 100px 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: #ffffff;
}

.con-three-con{
    padding: 80px;
}

.con-three-txt{
    font-weight: 900;
    font-size: 45px;
}

.con-three-btn{
    font-weight: 600;
    font-size: 23px;
    background: #ffffff;
    color: #ff5b29;
    border: none;
    border-radius: 5px;
    margin: 15px 0;
    padding: 15px 30px;
}
/* section three style end ------------------------------------------------------------------------------------- */



/* footer style start ------------------------------------------------------------------------------------- */
footer{
    display: flex;
    gap: 350px;
    padding: 80px 250px;
    background: #000000;
    color: #ffffff;
    
}

.footer-left-h1{
    font-size: 35px;
}

.footer-left, p{
    margin: 20px 0;
}

.footer-left, img{
    padding: 0 10px 0 0;
}

.footer-right{
    margin-left: 50px;
    font-size: 20px;
    margin-top: 25px;
}

.footer-right-input{
    padding: 15px 35px;
    color: #ffffff;
    background: #000000;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 20px 0;
}

.footer-right-btn{
    font-weight: 700;
    font-size: 15px;
    padding: 15px 35px;
    border-radius: 5px;
    color: #ff5b29;
    background: #ffffff;
}
/* footer style end ------------------------------------------------------------------------------------- */